body{
    font-family: 'Open Sans', sans-serif;
    margin-left: 300px;
}

header{
    margin-top: 100px;
}
.Sidebar_Navigation{
    color: grey;
    font-size: 10px;
    margin-bottom: 50px;
}
.Information_for_user{
    display: flex;
    margin-top: 100px;

}

.icon{
    color: white;
    background-color: #4A49CB;
    width: 20px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;    
    padding-top: 1px;
    padding-bottom: 1px;
}
.p_email{
    color: grey;
}
.text_Information_for_user{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.search{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    background: #F5F5F5;
    border-radius: 10px;
    margin-top: 50px;
    width: 250px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;


}
.text_search{
    color: #7C7C7A;

}
.img_search{
    margin-right: 20px;
    margin-top: 22px;
    width: 20px;
    height: 20px;
}
.text_dashboard{
    color: #7C7C7A;
    margin-top: 50px;
    margin-left: 25px;
}
.dashboard{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;

}
.img_gear{
    width: 20px;
    height: 20px;
    margin-top: 51px;
    margin-left: 15px;
}

.Revenued{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-left: 17px;
}

.text_Revenue{
    color: #7C7C7A;
    margin-left: 25px;

}
.text_Notifications{
    color: #7C7C7A;
    margin-left: 30px;

}
.Notifications{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}
.img_Notifications{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 10px;
}

.text_Analytics{
    color: #7C7C7A;
    margin-left: 30px;
}
.Analytics{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}
.img_Analytics{
    margin-left: 10px;
}
.Inventory{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}
.text_Inventory{
    color: #7C7C7A;
    margin-left: 30px;

}
.img_Inventory{
    width: 15px;
    height: 15px;
    margin-top: 25px;
    margin-left: 10px;
}

.Logout{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}
.text_Logout{
    color: #7C7C7A;
    margin-left: 30px;
    margin-top: 150px;
    

}
.img_Logout{
    width: 20px;
    height: 15px;
    margin-top: 152px;
    margin-left: 5px;
}

.Darkmode{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.img_Darkmode{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 5px;
}

.text_Darkmode{
    color: #7C7C7A;
    margin-left: 29px;

}

.slider{
    background: #e5e5e5;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    margin-top: 24px;
    margin-left: 35px;
}
.mode{
    display: flex;
}
.img_slider{
    margin-left: 5px;

}

